<!DOCTYPE html>
<html>
  <head>
    <title>BoxIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- <h4><a href= "/">Home</a></h4> -->
    <%= yield %>
  </body>
</html>
